$primary-color: #41F6D7;
$button-color: #FF3E79;
$gray-text: #7E7E82;
$border: #EAEAEA;
$background: #FFFFFF;
$border2: #B8FFEC;
$header: #D9FFF5;
$body: #F8F8F8;
$text: #1B1C21;
$theme: #B5B6BC;
$notactive: #DDDDDD;